@model IEnumerable<recipes.Models.Recipe>

@{
	ViewData["Title"] = "פרטי המתכון";
}

<h1>Details</h1>

<table class="table">
	<thead>
		<tr>
			
			<th>
				@Html.DisplayNameFor(model => model.name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Ingredients)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Phases)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
			
				<td>
					@Html.DisplayFor(modelItem => item.name)
				</td>
				<td>
					<li>
						@foreach (var item2 in item.Ingredients)
						{
							<ul>
								@Html.DisplayFor(modelItem => item2)
							</ul>

						}
					</li>
				</td>
				<td>
					<li>
						@foreach (var item3 in item.Phases)
						{
							<ul>
								@Html.DisplayFor(modelItem => item3)
							</ul>
						}
					</li>
				</td>
			</tr>
		}
	</tbody>
</table>
