@model IEnumerable<recipes.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Recipe List</h1>
<form asp-action="Index" method="get" class="form-inline mb-3">
    <div class="form-group mr-2">
        <input type="text" name="searchString" class="form-control" style="width: 250px;" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<p>
    <a asp-action="CraeteRecipe">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Recipe Name</th>
            <th> Number of Ingredients</th>
            <th> Number of Phases</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Ingredients.Any())
                    {
                        @item.name
                        
                    }
                    else
                    {
                        <em>No name provided</em>
                    }
                </td>
                <td>
                    @item.Ingredients.Count
                </td>
                <td>
                    @item.Phases.Count
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
